{% extends "base-in.html" %}
{% block left-content %}
	<div class="input-group">
		<h4> <a href="{% url 'profile' %}/{{user}}/information"> {% if user %} {{ user }} {% else %} User {% endif %}</a></h4>
		<a href="{% url 'profile' %}" class="thumbnail">
			<img src="{{user.pic.docfile.url}}" data-src="holder.js/100%x180" alt="...">
		</a>
	</div> <!-- user info -->
	{% if own %}
	<div class="edit-info">
		<a href="{% url 'edit_information%}"> Edit information </a>
	</div>
	{% else %}
		{% if following%}
			<a class="unfollow btn btn-sm btn-primary btn-block" type="submit" href="#">Unfollow </a>
		{% else %}
			<a class="follow btn btn-sm btn-primary btn-block" type="submit" href="#">Follow </a>
		{% endif%}
	{% endif %}
{% endblock %}
{% block middle-content %}
	{% if success %}
	<div class="success">
		{{success}}
	</div>
	{% endif %}
	<form action="{% url 'edit_password'%}" method="POST" class="form-signin">
		<h2> Reset Password </h2>
		{%for field in form%}
			{{field}}
		{% endfor %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
		{% csrf_token %}
	</form>
{% endblock %}