{% extends "base-in.html" %}
{% block left-content %}
	<div class="input-group">
		<h4> <a href="/profile.html/{{user}}/information"> {% if user %} {{ user }} {% else %} User {% endif %}</a></h4>
		<a href="/profile.html" class="thumbnail">
			<img src="{{pic}}" data-src="holder.js/100%x180" alt="...">
		</a>
	</div> <!-- user info -->
	{% if own %}
	<div class="edit-info">
		<a href="/edit-information.html"> Edit information </a>
	</div>
	{% else %}
		{% if following%}
			<a class="unfollow btn btn-sm btn-primary btn-block" type="submit" href="#">Unfollow </a>
		{% else %}
			<a class="follow btn btn-sm btn-primary btn-block" type="submit" href="#">Follow </a>
		{% endif%}
	{% endif %}
{% endblock %}
{% block middle-content %}
	{% if success %}
	<div class="success">
		{{success}}
	</div>
	{% endif %}
	<form action="edit-password.html" method="POST" class="form-signin">
		<h2> Reset Password </h2>
		{% for value in values.values %}
			{% if value.mandatory %}
				<input name="{{value.name}}" type="{{value.type}}" class="form-control {% if value.errors %}wrong{%endif%}" placeholder="{{value.placeholder}}" {% if value.errors %} data-toggle="popover" data-placement="right" data-content= "{{value.errors}}"{%endif%} {%if value.name == "password" %} autofocus {%endif%}>
			{% endif %}
		{% endfor %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
		{% csrf_token %}
	</form>
{% endblock %}