<h4>Following</h4>
<div class="row">
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://sphotos-b.xx.fbcdn.net/hphotos-prn1/1013962_10152902610830307_623871566_n.jpg')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('http://www.cs.cmu.edu/~charlie/charlie_garrod_august_2008.jpg')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://graph.facebook.com/818427800/picture?type=square')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://dvngeac8rg9mb.cloudfront.net/images/dashboard/common/default_user.png')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://dvngeac8rg9mb.cloudfront.net/images/dashboard/common/default_user.png')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://dvngeac8rg9mb.cloudfront.net/images/dashboard/common/default_user.png')">
			</div>
		</a>
	</div>
</div> <!-- following -->
<h4>Followers</h4>
<div class="row">
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://sphotos-b.xx.fbcdn.net/hphotos-prn1/1013962_10152902610830307_623871566_n.jpg')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('http://www.cs.cmu.edu/~charlie/charlie_garrod_august_2008.jpg')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://graph.facebook.com/818427800/picture?type=square')">
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a href="other-profile.html" class="thumbnail">
			<div class="ratio" style="background-image:url('https://dvngeac8rg9mb.cloudfront.net/images/dashboard/common/default_user.png')">
			</div>
		</a>
	</div>
</div> <!-- followers -->